<div class="form-container mat-elevation-z4">
    <h2 class="form-title">Registro de usuario</h2>
    <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Ingrese su email">
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Ingrese su contraseña">
      </mat-form-field>
  
      <button mat-raised-button color="primary" class="full-width" type="submit">Enviar</button>
    </form>
    <p class="login-prompt">¿Ya tienes una cuenta? <a routerLink="/login" class="login-link">Inicia sesión aquí</a></p>
  </div>
  