<div class="login-container">
    <h2>Login de usuario</h2>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control" formControlName="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" formControlName="password" required>
        </div>
        <button class="btn btn-primary btn-submit" type="submit">Enviar</button>
    </form>
    <button class="btn btn-google" (click)="onClick()">Login With Google</button>
</div>