<div id="sidebar">
    <ul>
        <li><a href="#"><i class="material-icons"></i> TYPERMAN</a></li>
        <li><a href="#"><i class="material-icons">home</i> Inicio</a></li>
        <li><a href="#"><i class="material-icons">person</i> Perfil</a></li>
        <li><a href="#"><i class="material-icons">store</i> Tienda</a></li>
        <li><a href="#"><i class="material-icons">settings</i> Ajustes</a></li>
        <li><a href="#"><i class="material-icons">work</i> Jefe</a></li>
    </ul>
</div>

